@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.custom-site-wrapper {
  display: grid;
  grid-template-areas:
    "hd hd hd"
    "sd main main"
    "ft ft ft";
}

#header {
  grid-area: hd;
}

#footer {
  grid-area: ft;
}
#main {
  grid-area: main;
}

#sidebar {
  grid-area: sd;
}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afafaf;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: 3px solid #afafaf;
}
